
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Casey Asher - @ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2019.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2018.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-metro.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="icon" type="image/gif" href="resources/favicon.ico">
</head>
<body class="w3-2019-evening-blue">
    <header>
        <div class="w3-sidebar w3-bar-block w3-2019-evening-blue w3-collapse w3-card w3-animate-right" style="width:200px; right:0" id="mySidebar">
            <button class="w3-bar-item w3-small w3-button w3-hide-large" style="text-align:right"
                    onclick="w3_close()">
                &times; Close
            </button>
            <a class="w3-bar-item"><strong>Casey Asher</strong><br />Full-Stack Developer</a>
            <a class="w3-bar-item w3-border w3-button w3-round-large w3-2019-evening-blue w3-center" asp-page="/Index">Projects</a>
            <a class="w3-bar-item w3-border w3-button w3-round-large w3-2019-evening-blue w3-center" asp-page="/Blog/Index">Articles</a>
            <a class="w3-bar-item w3-border w3-button w3-round-large w3-2019-evening-blue w3-center" asp-page="/Contact">Contact</a>
        </div>
        <partial name="_LoginPartial" />
    </header>
    <main>

        <div style="margin-right:20px">
            <button class="w3-button w3-right w3-2019-evening-blue w3-hide-large w3-xlarge" onclick="w3_open()">&#9776;</button>
        </div>
        <div class="w3-container" id="renderBody">
            @RenderBody()
        </div>

    </main>
    <footer>
        <div class="w3-2019-evening-blue w3-padding" style="position:fixed; left:0; bottom:0; opacity:0.8;">
            &copy; 2020 - Casey Asher - <a asp-page="/Contact">contact</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>