<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Casey Asher, Tulsa, Development, Web Developer, Java, C#, dotnet, .Net, ASP.Net, Full-Stack,
    Oklahoma, OK" />
    <meta name="Description" content="Full-Stack Web Developer from Tulsa, Oklahoma">
    <meta property="og:description" content="Full-Stack Web Developer from Tulsa, Oklahoma" />
    <meta property="og:site_name" content="Casey Asher - Developer" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Casey Asher - @ViewData["Title"]</title>
    <link rel="canonical" href="https://caseyasher.info/" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2019.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2018.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-metro.css">
    <script async defer data-domain="caseyasher.info" src="https://plausible.io/js/plausible.js"></script>
</head>
<body class="w3-2019-evening-blue">
    <header>
        <div class="w3-bar w3-2018-tofu w3-xlarge w3-padding">
            <a class="w3-bar-item w3-border w3-button w3-round-large w3-2019-evening-blue w3-mobile" asp-area="" asp-page="/Index">Projects</a>
            <a class="w3-bar-item w3-border w3-button w3-round-large w3-2019-evening-blue w3-mobile" asp-area="" asp-page="/Contact">Contact</a>
            <a class="w3-bar-item w3-right w3-mobile"><strong>Casey Asher</strong>, Full-Stack Developer in Tulsa, Oklahoma</a>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
        <div class="w3-2019-evening-blue" style="padding-bottom:1%; padding-left:1%; position:fixed; right:1%; bottom:0; opacity:0.8;">
            &copy; 2020 - Casey Asher - <a asp-area="" asp-page="/Contact">contact</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
