<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Casey Asher - @ViewData["Title"]</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2019.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2018.css">
    <script async defer data-domain="caseyasher.info" src="https://plausible.io/js/plausible.js"></script>
</head>
<body class="w3-2019-evening-blue">
    <header>
        <div class="w3-bar w3-2018-tofu w3-xlarge">
            <a class="w3-bar-item w3-button" asp-area="" asp-page="/Index"><strong>Casey Asher</strong> - Developer</a>
            <a class="w3-bar-item w3-button" asp-area="" asp-page="/Index">Home</a>
            <a class="w3-bar-item w3-button" asp-area="" asp-page="/Projects">Projects</a>
            <a class="w3-bar-item w3-button" asp-area="" asp-page="/Contact">Contact</a>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="w3-display-bottomright w3-padding">
        <div class="container" style="position:absolute">
            &copy; 2020 - Casey Asher - <a asp-area="" asp-page="/Privacy">contact</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
