@using Microsoft.AspNetCore.Identity
@using PersonalSite_ASP.Data.Blog

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a id="manage" class="w3-bar-item w3-border w3-button w3-round-large w3-2019-evening-blue w3-center" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage Account</a>
    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Blog/Index", new { area = "" })">
        <button id="logout" type="submit" class="w3-bar-item w3-button w3-border w3-round-large w3-2019-evening-blue w3-center">Logout</button>
    </form>
    <a class="w3-bar-item w3-button w3-border w3-round-large w3-2019-evening-blue w3-center" asp-page="Create">New Post</a>
}
else
{
    <a class="w3-bar-item w3-border w3-button w3-round-large w3-2019-evening-blue w3-center" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
}

