@page
@model PersonalSite_ASP.Pages.Blog.EditModel

@{
    Layout = "~/Pages/Shared/_BlogLayout.cshtml";
    ViewData["Title"] = "Edit";
}

<div class="w3-container w3-margin-top">
    <div class="row">
        <span>
            <a class="w3-button w3-white w3-right" asp-page="./AllPosts">Back to All</a>
        </span>
        <form method="post">
            <span>
                <input type="submit" value="Save" class="w3-button w3-green w3-right" />
            </span>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Post.Id" />
            <input type="hidden" asp-for="Post.TimePosted" />
            <div class="form-group">
                <input asp-for="Post.Title" class="form-control" style="width:100%" />
                <span asp-validation-for="Post.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <textarea wrap="soft" style="width:100%" rows="20" asp-for="Post.Body" class="form-control"></textarea>
                <span asp-validation-for="Post.Body" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
