@page
@model PersonalSite_ASP.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div class="LI-profile-badge w3-display-middle" data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="caseyasher">
    <a class="LI-simple-link" href='https://www.linkedin.com/in/caseyasher?trk=profile-badge'>Casey Asher</a>
</div>

<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>