@page
@model PersonalSite_ASP.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div class="w3-padding w3-center w3-wide w3-text-white">
    <h1><a href="mailto:casey.e.asher@outlook.com" target="_top"><strong>Email Me</strong></a></h1>
</div>
<div class="LI-profile-badge w3-center w3-padding" data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="caseyasher">
    <a class="LI-simple-link" href='https://www.linkedin.com/in/caseyasher?trk=profile-badge' rel="noreferrer" target="_blank">Casey Asher</a>
</div>
<br />

<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
