@page
@model PersonalSite_ASP.Pages.ProjectsModel
@{
    ViewData["Title"] = "Developer";
}
<br />
<div class="w3-row">
    <div class="w3-card-4 w3-padding w3-col s12 m6 l4">
        <header class="w3-container w3-2018-tofu">
            <h3 class="w3-center">Continued Learning</h3>
        </header>
        <div class="w3-container w3-border w3-black">
            <img src="lib/images/windowsdevelopment.jpg" alt="visual studio life runs on code" style="height:auto; width:100%" />
        </div>
        <div class="w3-container w3-border">
            <p>On a deep dive into the well-organized world of Microsoft development. C#, .Net, ASP.Net, Entity Framework, T-SQL, MSSQL Server</p>
        </div>
        <footer class="w3-container w3-2018-tofu" style="padding-bottom:2%">
            <h5>My workday is structured learning with a healthy dose of tinkering. Got an idea? Need some help? Get at me on LinkedIn</h5>
            <a class="w3-button w3-large w3-black" href="https://github.com/blueohsix" rel="noreferrer" rel="noopener" rel="nofollow" target="_blank">
                Github
            </a>
            <a class="w3-button w3-large w3-metro-blue w3-right" href="https://www.linkedin.com/in/caseyasher/" rel="noreferrer" rel="noopener" rel="nofollow" target="_blank">
                LinkedIn
            </a>
        </footer>
    </div>
    <div class="w3-card-4 w3-padding w3-col s12 m6 l4">
        <header class="w3-container w3-2018-tofu">
            <h3 class="w3-center">Personal Site - Gen 2</h3>
        </header>

        <div class="w3-container w3-border w3-black">
            <img src="lib/images/personalsitegen2.png" alt="screenshot of gen 2 personal site" style="height:auto; width:100%" />
        </div>
        <div class="w3-container w3-border">
            <p>Current portfolio site (You're here!). Tons of room to grow on the ASP.Net platform. April 2020 - Present</p>
        </div>

        <footer class="w3-container w3-2018-tofu">
            <h5>AWS Windows Server 2019 w/ Containers, IIS, ASP.Net Core, C#, HTML, W3-CSS, SSL, One-click deployment</h5>
            <h5 style="padding-left:2px; padding-right:2px;" class="w3-hover-blue-gray w3-center"><a href="https://github.com/blueohsix/PersonalSite-ASP.Net" rel="noreferrer" target="_blank">GitHub Repository</a></h5>
        </footer>
    </div>
    <div class="w3-card-4 w3-padding w3-col s12 m6 l4">
        <header class="w3-container w3-2018-tofu">
            <h3 style="padding-left:2px; padding-right:2px;" class="w3-hover-blue-gray w3-center"><a href='https://apache.caseyasher.info/' rel="noreferrer" target="_blank">Personal Site - Gen 1</a></h3>
        </header>

        <div class="w3-container w3-border w3-black">
            <img src="lib/images/personalsitegen1.png" alt="screenshot of gen 1 personal site" style="height:auto; width:100%" />
        </div>
        <div class="w3-container w3-border">
            <p>First portfolio site. October 2019 - March 2020. Still accessible.</p>
        </div>

        <footer class="w3-container w3-2018-tofu">
            <h5>AWS Amazon Linux AMI [1], Apache 2.4, Tomcat 8.5, Certbot for HTTPS, Virtual Hosts, SSH, VIM, custom error pages, HTML, CSS</h5>
            <h5 style="padding-left:2px; padding-right:2px;" class="w3-hover-blue-gray w3-center"><a href="https://github.com/blueohsix/PersonalSite" rel="noreferrer" target="_blank">GitHub Repository</a></h5>
        </footer>
    </div>
    <div class="w3-row">
        <div class="w3-card-4 w3-padding w3-col s12 m6 l4">
            <header class="w3-container w3-2018-tofu">
                <h3 style="padding-left:2px; padding-right:2px;" class="w3-hover-blue-gray w3-center"><a href='https://tomcat.caseyasher.info/apps/OneHundredQuestions/' rel="noreferrer" target="_blank">One Hundred Questions</a></h3>
            </header>

            <div class="w3-container w3-border w3-black">
                <img src="lib/images/onehundredquestions.gif" alt="demonstration of onehundredquestions" style="height:auto; width:100%" />
            </div>
            <div class="w3-container w3-border">
                <p>
                    A webapp where couples can answer one hundred of
                    the most common pre-marital counseling questions on their
                    own time, prompting dialogue about the heavy-hitters in every
                    long-term relationship.
                </p>
            </div>
            <footer class="w3-container w3-2018-tofu">
                <h5>Angular, TypeScript, JavaScript, HTML, W3-CSS, Spring, Java, REST APIs, JPARepository, MySQL</h5>
                <h5 style="padding-left:2px; padding-right:2px;" class="w3-hover-blue-gray w3-center"><a class="projects w3-hover-light-gray" href="https://github.com/blueohsix/OneHundredQuestions" rel="noreferrer" target="_blank">GitHub Repository</a></h5>
            </footer>
        </div>

        <div class="w3-card-4 w3-padding w3-col s12 m6 l4">
            <header class="w3-container w3-2018-tofu">
                <h3 style="padding-left:2px; padding-right:2px;" class="w3-hover-blue-gray w3-center"><a href='https://tomcat.caseyasher.info/apps/EventTracker/' rel="noreferrer" target="_blank">Cell Site Tracker</a></h3>
            </header>

            <div class="w3-container w3-border w3-black">
                <img src="lib/images/eventtracker.gif" alt="demonstration of eventtracker" style="height:auto; width:100%" />
            </div>

            <div class="w3-container w3-border">
                <p>
                    Simple CRUD app catering to my background in the
                    telecom industry
                </p>
            </div>

            <footer class="w3-container w3-2018-tofu">
                <h5>Angular, TypeScript, JavaScript, HTML, Bootstrap, Spring, Java, REST APIs, JPARepository, MySQL</h5>
                <h5 style="padding-left:2px; padding-right:2px;" class="w3-hover-blue-gray w3-center"><a class="projects w3-hover-light-gray" href="https://github.com/blueohsix/EventTrackerProject" rel="noreferrer" target="_blank">GitHub Repository</a></h5>
            </footer>
        </div>
        <div class="w3-card-4 w3-padding w3-col s12 m6 l4">
            <header class="w3-container w3-2018-tofu">
                <h3 style="padding-left:2px; padding-right:2px;" class="w3-hover-blue-gray w3-center"><a href='https://tomcat.caseyasher.info/apps/MVCFilmSite/' rel="noreferrer" target="_blank">Film MVC CRUD</a></h3>
            </header>

            <div class="w3-container w3-border w3-black">
                <img src="lib/images/MVCFilm.png" alt="screenshot of MVC Film Site" style="height:auto; width:100%" />
            </div>
            <div class="w3-container w3-border">
                <p>Pair Programming project utilizing CRUD on fictional database of films</p>
            </div>

            <footer class="w3-container w3-2018-tofu">
                <h5>Spring MVC, Java, JSPs, JDBC, MySQL, HTML, Bootstrap</h5>
                <h5 style="padding-left:2px; padding-right:2px;" class="w3-hover-blue-gray w3-center"><a href="https://github.com/ckl2007/SpringMVCFilmCRUD" rel="noreferrer" target="_blank">GitHub Repository</a></h5>
            </footer>
            <br />
        </div>
    </div>
</div>