@page
@model PersonalSite_ASP.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}
<br />
<div class="w3-row">

    <div class="w3-card-4 w3-padding w3-col s12 m6 l4">
        <header class="w3-container w3-2018-tofu">
            <h3>One Hundred Questions</h3>
        </header>

        <div class="w3-container w3-border">
            <p>
                preview
            </p>
        </div>
        <div class="w3-container w3-border">
            <p>
                A webapp where couples can answer one hundred of
                the most common pre-marital counseling questions on their
                own time, prompting dialogue about the heavy-hitters in every
                long-term relationship.
            </p>
        </div>
        <footer class="w3-container w3-2018-tofu">
            <h5>Footer</h5>
        </footer>
    </div>

    <div class="w3-card-4 w3-padding w3-col s12 m6 l4">
        <header class="w3-container w3-2018-tofu">
            <h3>Cell Site Tracker</h3>
        </header>

        <div class="w3-container w3-border">
            <p>
                preview
            </p>
        </div>

        <div class="w3-container w3-border">
            <p>
                Simple CRUD app catering to my background in the
                telecom industry
            </p>
        </div>

        <footer class="w3-container w3-2018-tofu">
            <h5>Footer</h5>
        </footer>
    </div>

    <div class="w3-card-4 w3-padding w3-col s12 m6 l4">
        <header class="w3-container w3-2018-tofu">
            <h3>Film MVC CRUD</h3>
        </header>

        <div class="w3-container w3-border">
            <p>preview</p>
        </div>
        <div class="w3-container w3-border">
            <p>Pair Programming project utilizing CRUD on fictional database of films</p>
        </div>

        <footer class="w3-container w3-2018-tofu">
            <h5>Footer</h5>
        </footer>
    </div>
</div>