@page
@model TicTacToeModel
@{
    ViewData["Title"] = "TicTacToe";
}

<h1>TicTacToe</h1>

<div id="boardSize" class="w3-container">
    <form asp-page-handler="size" method="post">
        <input type="radio" id="3x3" name="size" value="3" />
        <label for="3x3">3x3</label><br />
        <input type="radio" id="4x4" name="size" value="4" />
        <label for="4x4">4x4</label><br />
        <input type="radio" id="5x5" name="size" value="5" />
        <label for="5x5">5x5</label><br />
        <input type="submit" class="w3-button w3-green" />
    </form>
</div>
<br />
<br />

@if (Model.PlaySurface.Height > 0)
{
    <div class="w3-padding">
        <table id="board" class="w3-table w3-xlarge w3-mobile">
            @for (int i = 0; i < Model.PlaySurface.Width; i++)
            {
                <tr>
                    @for (int j = 0; j < Model.PlaySurface.Height; j++)
                    {
                        <td class="w3-border w3-center">
                            <form asp-page-handler="cell" method="post">
                                <input type="hidden" name="location" value="@Model.PlaySurface.Grid[i,j].Location" />
                                <input type="submit" class="w3-button w3-xlarge w3-hover-sand w3-padding"
                                       value="@Model.PlaySurface.Grid[i,j].Symbol" />
                            </form>
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
}